.BetsPageTableRow{
    margin-right: 150px;
    margin-left: 150px;
    flex-shrink: 0;
    justify-content: center;
    background-color: #7fb4f3;
    height: 100px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 50px;
}

.dateData {
    width: 30%;
    display: inline-block;
}

.dateCell{
    margin-left: 10px;
    margin-top: 5px;
}

.dateCell p{

    font-weight: bold;
}

.betsCells {
    width: 70%;
    display: inline-block
}

.BetsCell {
    width: 10%;
    display: inline-block; /* Keep it inline-block to stay in a row */
    text-align: center;
    vertical-align: top;
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 10px;
    background-color: #cccccc;
    margin-left: 50px;
    height: 80px;
}

.BetsCell:hover{
    background-color: #D9D9D9;
}

.BetsCell p{
    font-size: 0.65em;

    font-weight: bold;

}

.coefCell {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 50px; /* Set a specific height for .coefCell */
    line-height: normal; /* Reset line-height as it's no longer necessary */
    border-radius: 10px;
    width: 70%; /* Adjust width as per requirement */
    margin: 0 auto; /* This centers the .coefCell in the .BetsCell if .BetsCell is wider */
    padding-top: 5px;
}

.coefCell p{
    font-size: 1.7em;
    font-weight: bold;
    color: #F5A623;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px 1px 0 #000,
            1px 1px 0 #000;
}