.not-found-container {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/images/errorPage.webp'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.overlay {
    color: white;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.0); /* semi-transparent overlay */
    border-radius: 10px;
}

.logo {
    font-size: 2em;
    font-weight: bold;
}

.tagline {
    margin-bottom: 20px;
}

h1 {
    font-size: 8em;
}

h2 {
    font-size: 4em;
}

p {
    margin-bottom: 20px;
    font-size: 1.2em;
}

.home-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.home-link:hover {
    background-color: #2874a6;
}

.errorLogo {
    position: absolute;
    top: 20px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    max-width: 500px; /* Adjust as needed */
    max-height: 500px;
}